* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

p {
    color: #000;
    font-weight: 500;
}

body {
    padding: 0 50px;
}

header {
    height: 30px;
    padding: 20px;
    margin-bottom: 15px;
    width: 100%;
    align-items: center;
    border: 2px solid #f0f0f0;
    display: flex;
    border-radius: 10px;
    font-weight: 600;
    justify-content: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin-top: 20px;
}

.form {
    display: flex;
    justify-content: center;
}

.item {
    padding: 15px;
    border-radius: 10px;
    max-height: fit-content !important;
    display: flex;
    background-color: #f0f0f0;
    align-items: flex-start;
    flex-direction: column;
    border: 2px solid blue;
    transition: .3s ease;
}

.home {
    margin-top: 10px;
}

input,
button {
    margin: 0 10px;
    border: 1px solid blue;
    font-weight: 600;
    padding: 15px;
    background-color: transparent;
    border-radius: 10px;
    transition: .3s ease;
}

button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.item:hover {
    transform: scale(1.1);
    cursor: pointer;
}