<template>
  <div class="home">
    <header>Name of user: {{ user.name }}</header>
    <form class="form">
      <input type="number" v-model="userId" placeholder="ID your user"/>
      <button @click="FETCH_USER_ONE(userId)">Fetch one</button>
    </form>
    <div class="wrapper">
      <div class="item" v-for="item of users" :key="item.id">
        <div class="name">
          <p class="name">{{ item.name }}</p>
          <p class="username">{{ item.username }}</p>
          <p class="email">{{ item.email }}</p>
        <p class="phone">{{ item.phone }}</p>
        </div>
      </div>
    </div>
    <!-- <button @click="FETCH_USERS()">Click</button> -->
  </div>
</template>

<script>
// @ is an alias to /src
import { mapGetters, mapActions, mapMutations } from "vuex";
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "Home",
  data() {
    return {
      userId: null,
    };
  },
  computed: {
    ...mapGetters(["users", "user"]),
  },
  methods: {
    ...mapActions(["FETCH_USERS", "FETCH_USER_ONE"]),
    // ...mapMutations(["PARSE_LOCAL"]),
  },
  mounted() {
    this.FETCH_USERS();
  },
};
</script>
